@font-face {
	font-family: 'regular_font';
	src: url('/assets/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'bold_font';
	src: url('/assets/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'italic_font';
	src: url('/assets/fonts/Lato-Italic.ttf') format('truetype');
}
